.blur {
  opacity: 0.6;
  background-color: rgb(56, 55, 55);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
.table {
  width: 100%;
  padding: 50px;
  position: fixed;
  /* border: 1px solid red; */
  height: 80vh;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.teamMember {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.check-boxes {
  padding-bottom: 20px;
  padding-top: 20px;
}

.addBuuton {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 24px;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(22, 22, 209, 0.815);
  color: white;
}
.delete_icon {
  height: 20px;
  cursor: pointer;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  /* position: relative; */
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px 5px 10px;
  border: 1px solid #ccc;
  font-size: 20px;
  margin-right: 10px;
}

.iconSize {
  width: 15px;
  height: 15px;
}

.icon {
  transform: rotate(0deg);
}
.iconRotate {
  transform: rotate(180deg);
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .items {
  display: block;
  position: fixed;
  background-color: white;
}
